<div class="col-md-4 mx-auto mt-5">
  <%- include('partials/_messages') %>
    <form action="/register" method="POST">
      <div class="form-group">
        <fieldset>
          <label class="form-label" for="username">User Name</label>
          <input class="form-control" id="username" name="username" type="text" placeholder="Username...">
        </fieldset>
      </div>

      <div class="form-group">
        <fieldset>
          <label class="form-label" for="email">Email</label>
          <input class="form-control" id="email" name="email" type="email" placeholder="Email...">
        </fieldset>
      </div>

      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4" for="password">Password</label>
          <input class="form-control" id="password" type="password" name="password" placeholder="Password...">
        </fieldset>
      </div>
      <div class="form-group">
        <fieldset>
          <label class="form-label mt-4 text-light" for="password2">Retype password</label>
          <input class="form-control" id="password2" name="password2" type="password" placeholder="Retype Password...">
        </fieldset>
      </div>
      <div class="form-group mt-4">
        <fieldset>
          <button type="submit" class="btn btn-primary">register</button>
          <span class="pull-right text-light">Already have an account? <a href="/">Login</a></span>
        </fieldset>
      </div>
    </form>
</div>